.departure-details {
  display: flex;
  margin-bottom: 16px;
  column-gap: 12px;
  .departure {
    border-radius: 6px;
    background: var(--primary, #eee);
    padding: 10px 16px;
    width: 343px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    input {
      color: #6c6c6c;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border: none;
      margin-left: 8px;
      background: var(--primary, #eee);
    }
    .btn-small {
      display: block;
    }
    .btn-lg {
      display: none;
    }
  }
}

@media screen and (max-width: 991px) {
  .departure-details {
    flex-direction: column;
    row-gap: 16px;
    .btn-small {
      display: none;
    }
    .btn-lg {
      display: block;
    }
  }
}
