.filterContainer{
    width: 100%;
    display: flex;
    gap: 0.9rem;
    height: 1130px;    
}

.pagination{
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border: 1px solid green;
  display: flex;
  width: 75.9375rem;
  padding: 2.3125rem 28.5625rem;
  justify-content: center;
  align-items: center;
  gap: 3.875rem;
  border: 1px solid #D8D8D8;
  background: #F0F0F0;
}


.pagination button{
  display: flex;
padding: 0.375rem 0.625rem;
flex-direction: column;
align-items: flex-start;
gap: 0.625rem;
border-radius: 2.75rem;
border: 2px solid var(--primary, #B75C76);
background: transparent;
}

.pagination .arrows{
  border: none;
  background: transparent;
  color: #B75C76;
}

.pagination button.active {
  background-color: #B75C76; /* Change this to your desired background color */
  color: white; /* Change this to your desired text color */
}

.filterContainer .filters{
    width: 30%;
    height: 1130px;
  }

aside{
  display: flex;
  justify-content: flex-end;
}

aside .filterArea {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 18.2px;
}



aside .filterArea .clothesChecked h6{
  color: var(--primary, #3D3939);
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 600;
line-height: normal;
margin: 10px 0px;
}

aside .filterArea .productItems {
  font-size: 14px;
  padding: 5px 15px;
  border-left: 1px solid var(--primary, #D9D9D9);
  border-right: 1px solid var(--primary, #D9D9D9);
}

aside .itemsCheck{
  width: 100%;
  height: auto;
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 5px 15px;
}

aside .filterArea .itemsCheck li{
  width: 100%;
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
  color: var(--primary, #3D3939);
font-family: Inter;
font-size: 0.875rem;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 4px 0px;
}

aside .filterArea .itemsCheck li label{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

aside .filterArea .itemsCheck li input{
  width: 1.42806rem;
height: 1.125rem;
flex-shrink: 0;
}



.filterContainer .filters .filtercontent{
color: var(--primary, #3D3939);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 6px 6px 0px 0px;
border: 1px solid var(--primary, #D9D9D9);
display: inline-flex;
flex-direction: column;
padding: 7px 16px;
align-items: flex-start;
width: 100%;
margin-top: auto;
height: auto;
}

.filterContainer .products{
    width: 70%;   
}

.products::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  /* Optionally style the scrollbar track and thumb for WebKit */
.products::-webkit-scrollbar-track {
    background: transparent; /* You can change this color */
  }
  
  .products::-webkit-scrollbar-thumb {
    background: transparent; /* You can change this color */
  }

  .products{
    overflow-y: scroll;
    scrollbar-width: none; /* For Firefox */
   -ms-overflow-style: none;
  }

  .checkInputs{
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .checkInputs label{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .itemsnumber{
    margin-left: auto;
  }
  .filterName{
    color: var(--primary, #3D3939);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
  .checkInput{
    width: 22.849px;
height: 18px;
flex-shrink: 0;
  }


  @media screen and (max-width: 550px) {
    .filterContainer .filters{
      display: none;
  }

  .filterContainer .products{
    width: 100%;   
    height: auto;
}

.filterContainer{
  height: auto;
  margin: 0;
}
.pagination{
  display: flex;
width: 100%;
justify-content: center;
align-items: center;
gap: 1.9375rem;
padding: 0;
background: none;
border: none;
outline: none;
}
  }

  @media screen and (max-width: 850px) {
    .checkInputs{
      width: 9.6rem;
    }
  }

  @media screen and (max-width: 1250px) {
    .checkInputs{
      width: 11.2rem;
    }

    .filterContainer{
      margin: 0;
      height: auto;
    }

    .pagination{
      width: auto;
      padding: 0;
      background: none;
      border: none;
    }
  }
