.completion-progress{

    .profile-progress {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-top: 21px;
        // margin-bottom: 26px;
    
        .profile-steps {
          display: flex;
          align-items: center;
          p {
            color: #fff;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            border-radius: 100%;
            width: 20px;
            height: 20px;
            text-align: center;
            padding: 3px;
            background: var(--primary, #b75c76);
            margin-right: 16px;
          }
          h6 {
            color: var(--primary, #3d3939);
            font-family: Inter;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
          }
          .line {
            width: 260px;
            height: 3px;
            flex-shrink: 0;
            background: var(--primary, #b75c76);
            margin-left: 20px;
          }
        }
      }
}