.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-radius: 6px;
  margin-bottom: 16px;
  background: var(--primary, #eee);
  .card-flight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 260px;
  }
  &__flight-name {
    width: 71px;
    text-align: center;

    p {
      width: 71px;
      color: #3d3939;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 0;
    }
  }
  &__departure {
    text-align: right;
    width: 100px;
    &__time {
      color: #3d3939;
      text-align: right;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 0;
    }
    &__hours {
      font-weight: 400;
      margin: 0;
      text-transform: uppercase;
    }
  }

  &__flight-type {
    text-align: center;

    &__curve {
      height: 10;
    }
    &__set {
      margin-top: -45px;

      &__time {
        color: #3d3939;
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
      }
      &__plane {
        margin: 0;
      }
      &__non-stop {
        color: #3d3939;
        font-family: Inter;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0px;
      }
    }
  }
  .card__final-price {
    text-align: center;
    p {
      color: #3d3939;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin: 0;
    }
    Button {
      width: 136px;
      color: #fff;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-top: 8px;
    }
  }
}
@media screen and (max-width: 991px) {
  .card {
    .card-flight {
      flex-direction: column;
      row-gap: 20px;
      text-align: right;
    }
    &__departure {
      text-align: right;
      width: 40px;
      &__time {
        text-align: right;
      }
      .card__final-price {
        text-align: right;
      }
    }
  }
}
